<!--About Page HTML-->

<!DOCTYPE html>
<html lang='en'>
 <head>
    <meta charset="UTF-8">
      <link rel="stylesheet"
        type="text/css"
        href="about.css">
    <title>Generator</title>
 </head>
 <body>

    <!--Title-->
    <header>
    <div class="flexbox-container">
        <div class="flexbox-item flexbox-item-1">
            <h1 id="title">About Us</h1>  
        </div>
    </div>

    <!--Github information-->
    <a class="github" href="https://github.com/MikeKarnezisLewisU/FinalProjectScrumandCoke"><img src="github.svg"></a>

    <!--Navigation Bar-->
    <ul class="horzbar">
        <li><a href="/" id="home">Home</a></li>
        <li><a href="/generate" id="generate">Generate</a></li>
        <li><a href="/about" id="about">About</a></li>
   
        <!--To go to the login page or signup page (need to make conditionally using ejs properties)-->
        <% if (user) { %>
            <li><a href="/profile" id="profile">Profile</a></li>
            <li><a href="/logout" id="logout">Logout</a></li>
        <% } else { %>
            <li><a href="/login" id="login">Login</a></li>
            <li><a href="/signup" id="signup">Sign Up</a></li>
        <% } %>
    </ul>

    <!--Welcome the current user if they exist (must be conditional then)-->
    <% if (user) { %>
        <p id="welcomeUser">Welcome, <%= user.email %></p>
    <% } %>


   </body>
</html>